<%= form_for :applicant, url: applicants_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
   <p>
    <%= f.label :college_name %><br>
    <%= f.text_field :college_name %>
  </p>
   <p>
    <%= f.label :dept %><br>
    <%= f.text_field :dept %>
  </p>
     <p>
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>

<% end %>