<p>
  hi helo welcome
  </p>
  <table>
  <tr>
  <%= @applicant.title %> <br>
  </tr>
  <tr>
  <%= @applicant.name %><br>
  </tr>
  <tr>
      <%= @applicant.college_name %><br>
  </tr>
  <tr>
      <%= @applicant.dept %><br>
  </tr>
  <tr>
      <%= @applicant.year %><br>
  </tr>
  <%= link_to 'view_participants',applicants_path %>


  </table>
